body {
    background: url(background.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Cambria;
}

div.liveGraph div.bars div.bar span { 
background: url("diagonals_trans.png");
background-repeat: repeat;
color: #fff;
font-weight: bold;
font-size: 20px;
border: none !important;
border-bottom: 1px #000 solid !important;
border-top: 2px #000 solid !important;
}
div.liveGraph div.bars div[bar="tb3"] span {
background-color: #001489;
} /* ONLY MATCHES THE FIRST BAR */
div.liveGraph div.bars div[bar="tb2"] span {
background-color: #00A0DB;
} /* ONLY MATCHES THE SECOND BAR */
div.liveGraph div.bars div[bar="tb1"] span {
background-color: #C8C9C7;
} /* ONLY MATCHES THE THIRD BAR */
div.liveGraph div.bars div[bar="tb4"] span {
background-color: #FFEC2D;
} /* ONLY MATCHES THE FOURTH BAR */

h1 {
font-family: Cambria;
font-size: 24pt;
margin: 0;
padding: 0;
margin-bottom: 10px;
}

h2 {
font-family: Cambria;
font-size: 18pt;
margin: 0;
padding: 0;
margin-bottom: 20px;
}

div.content {
width: 600px;
background: #fff;
border-radius: 10px;
padding: 4px;
border: #ccc 2px solid;
margin-left: 25%;
}
table {
border-collapse: collapse;
}
table, th, td {
border: 1px solid black;
padding: 4px;
margin-left: 25%;
}
thead td {
font-weight: bold;
}

#evan{
	padding-top:10px;
	width:100px;
	height:100px;
	margin-bottom:-70px;
}
#update{
	padding-top:8px;
	margin-left:15%;
}

#logo{
	width:300px;
	height:300px;
	float:left;
}
#logoRight{
	width:300px;
	height:300px;
	float:right;
}